.container{

    width: 800px;
     margin: 10px auto;
}
/* {
    border: 1px solid limegreen;
    background-color: rgba(116, 116, 116, 0.1);
  }
  body {
    margin: 0;
  }
*/
h2{
    text-align: center;
}
.üstbaşlık{

font-size: larger;

}
.üstbaşlık ul li {

    list-style-type: none;
   
    padding: 10px 20px;
    text-transform: uppercase;
    
    display: inline-block;
    
    text-align: start;
    font-size: 20px;
}
.resimyazı {
    font-size: larger;
    display: flex;
    gap : 30px;
    
}
.resimyazı img{

    padding-bottom: 50px;
}
.yazı{
    gap: 50px;
    text-align: center;
}
.yazı p{
    width: 300px;
}
.yazı button{
width: 200px;
padding: 15px 0;

margin: 20px;
text-align: center;
color: black;
cursor: pointer;
}
.üstresim{
    
    
    display: flex;
 display: inline-flex;

  
  gap: 50px;
}
.üstresim img {
 width: 350px;
 height: 350px;
 
}
.altresim{
    display: flex;
    align-items: center;
    
    gap: 50px;
}

.altresim img{
    width: 350px;
 height: 350px;
   
}   
.sondurum{
text-align: center;
}
.sondurum button{
width: 200px;
padding: 15px 0;

margin: 20px;
text-align: center;
color: black;
cursor: pointer;
}