.container{

    width: 1920px;
    height: 1080px;
     margin: 10px auto;
}
/* {
    border: 1px solid limegreen;
    background-color: rgba(116, 116, 116, 0.1);
  }
  body {
    margin: 0;
  }
*/
@media (max-width: 8000px) {
    .üstresim img{
        flex-direction: column;
    }
    
.yazı{

font-size: x-large;
font-family: Arial, Helvetica, sans-serif;
font-style: italic;


}    
}
.tümresimler p{

    text-align: center;
    color: darkblue;
    font-size: x-large;
}

h2{
    text-align: center;
color:darkgreen;
font-size:xx-large;
font-family : 'Times New Roman', Times, serif;
}
.proje a{
    border-top: 2px solid black;
    background-color: blue;
    color: yellow;
    font-size: larger;
}
.üstbaşlık ul li a{

    border-top: 2px solid black;
    background-color: blue;
    color: yellow;
    font-size: larger;

}
.üstbaşlık ul li {

    list-style-type: none;
   
    padding: 10px 20px;
    text-transform: uppercase;
    
    display: inline-block;
    
    text-align: start;
    font-size: 20px;
}
.resimyazı {
    font-size: larger;
    display: flex;
    gap : 50px;
    
}
.resimyazı img{

    padding-bottom: 50px;
}
.yazı{
    gap: 50px;
    text-align: center;
}
.yazı p{
    width: 300px;
}
.yazı button{
width: 200px;
padding: 15px 0;
border-radius: 10%;
margin: 20px;
text-align: center;
background-color: cadetblue;
cursor: pointer;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.üstresim{
    
    
    display: flex;
 display: inline-flex;

  
  gap: 50px;
}
.üstresim img {
    width: 450px;
 height: 350px;
 
 
}
.altresim{
    display: flex;
    display: inline-flex;
    
    gap: 50px;
}

.altresim img{
    width: 450px;
 height: 350px;
 margin: 0;
   
}   
.sondurum{
text-align: center;
font-size: larger;
}
.sondurum button{
width: 200px;
padding: 15px 0;
color: yellow;
margin: 20px;
text-align: center;
background-color: darkblue;
cursor: pointer;
}